/* ======================
======== GENERAL ========
======================= */
html, body, footer {
    font-size: 16px;
    overflow-x: hidden;
  }
  
  body {
    position: relative;
    overflow: hidden;
  }
  
  html, body, header, main,
  h1, h2, h3, h4, h5, h6, hr,
  ol, ul, li, a, div, span, p, button {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  li, ol, ul, a {
    color: inherit;
    list-style: none;
    text-decoration: none;
  }

  a:hover {
    color: rgb(247, 247, 247);
    text-decoration: none;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 8.635rem;
    height: 3rem;
    border-radius: 1.5rem;
    cursor: pointer;
    transition: all 0.75s ease-in-out;
}

/* ======================
======== HEADER ========
======================= */


/* ======================
======== MAIN ========
======================= */
section.intro {
    height: 100vh;
    padding: 0;
    position: relative;
}

.container-info {
    width: 100%;
    max-width: inherit;
    margin-top: 40vh;
    position: absolute;
}

.intro::before {
    display: block;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    content: "";
    height: 100%;
    width: 100%;
    /* border-bottom-left-radius: 5.875rem; */
    background: linear-gradient(0, #ff3d54, #ff8f70);
}

.intro {
    position: relative;
    /* border-bottom-left-radius: 5.875rem; */
    padding-top: 10rem;
    /* background-image: url(/images/bg-pattern-intro.svg); */
    background-image: url(/asset/main-bg.jpg);
    background-repeat: no-repeat;
    /* background-size: 350%; */
    background-size: cover;
    background-position: 35% 40%;
    font-family: "Overpass", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color: white;
}

.intro-title {
    margin-bottom: 1.5rem;
    font-size: 2.225rem;
    font-weight: 600;
    line-height: 2.75rem;
    text-align: center;
    text-transform: uppercase;
}

.intro-info {
    margin-bottom: 3rem;
    font-size: 1.175rem;
    font-weight: 300;
    line-height: 1.45rem;
    text-align: center;
}

.intro-cta {
    display: flex;
    max-width: 20.5rem;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 9.6875rem;
    margin: 0 auto;
    font-size: 1.175rem;
}

.intro-cta-start {
    background: #f39d32;
    font-family: "Ubuntu", sans-serif;
    font-size: 1rem;
    font-weight: 700;
    color: #000000;
    transition: all 0.75s ease-in-out;
}

.intro-cta-start:hover, .intro-cta-start:active {
    background: #ff7a85;
    color: white;
    transition: all 0.75s ease-in-out;
}

.intro-cta-learn {
    border: 1px solid white;
    font-family: "Ubuntu", sans-serif;
    font-size: 1rem;
    font-weight: 700;
    color: white;
}

.intro-cta-learn:hover, .intro-cta-learn:active {
    background: white;
    color: #ff7a85;
    transition: all 0.75s ease-in-out;
  }

/* ======================
======== FOOTER ========
======================= */
footer  {
    background: #25252d;
}

.footer-wrapper {
    display: flex;
    width: calc(100% - 2rem);
    max-width: 69.875rem;
    flex-flow: column wrap;
    margin: 0 auto;
    padding-top: 4.625rem;
    padding-bottom: 1.5rem;
}

.footer-wrapper .foot-section {
    flex: 1;
}

.footer-wrapper .foot-section-title {
    margin-bottom: 2.25rem;
    text-align: center;
    font-family: "Ubuntu", sans-serif;
    font-size: 0.95rem;
    font-weight: 500;
    color: white;
}

.footer-wrapper .foot-section-list {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    padding-bottom: 3.375rem;
    font-family: "Ubuntu", sans-serif;
    font-size: 0.95rem;
    font-weight: 500;
    color: #c8c8cb;
}

.footer-wrapper .foot-section-list .list-item {
    width: max-content;
    margin-bottom: 1rem;
}

a.list-item_link:hover {
    color: rgb(204, 85, 16);
    text-decoration: underline;
}

/* =====================
===== media minmax =====
===================== */
@media (min-width: 800px) {
    .container {
        width: calc(100% - 2rem);
        max-width: 69.875rem;
        margin: 0 auto;
        padding: 0;
    }

    /* Main */
    .intro::before {
        background: linear-gradient(-90deg, #ff3d54, #ff8f70);
    }

    .intro {
        padding-top: 14.625rem;
        /* background-size: 245%; */
        background-size: cover;
        background-position: 27% 51%;
    }

    .intro-title {
        font-size: 5rem;
    }

    /* footer */
    .footer-wrapper {
        flex-flow: row nowrap;
    }

    .footer-wrapper .foot-section-title {
        text-align: left;
    }

    .footer-wrapper .foot-section-list {
        display: block;
    }
}