body {
    
}

.first-section {
    /* width: 100%; */
    height: 100vh;
    /* height: auto; */
    background-color: rebeccapurple;
    background-image: url(/asset/main-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.home2 {
    background-color: blue;
}